.page-main-header {
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: 50px 50px 50px 50px; */


    box-sizing: border-box;
    padding: 10px;
    
    border: 1px solid black;
}

.main-header-info {
    display: flex;
    gap: 25px;
}

.header-info {
    display: flex;
    flex-direction: column;
}

.header-info-right {
    /* gap: 10px; */
    justify-content: space-around;
}

.custom-menu {
    align-self: center;
    align-items: center;
}